header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9;
    background-color: var(--header-color-white, #f6f5f0);
    border-bottom: 1px solid var(--header-color-white-two, #c8c8c8);
}

header > .inner {
    height: 120px;
}

header .logo {
    position: absolute;
    height: 75px;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}